
body {
	background-color: lightblue;
}

h1 {
	color: white;
	text-align: center;
}
#conteneur
{
	width: 90%;
	margin: auto;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content:stretch;
	flex-grow: 1;
}
.element
{
	flex-grow: 1;
	width:20%;
    margin: auto;
}
