
body {
	background-color: lightblue;
}

h1 {
	color: white;
	text-align: center;
}
#conteneur
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
}
.element
{
	size:5%;
	background-color: blue;
    margin: auto;
}
